<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Oct_12_2023/src/com/Zoo_Oct_12_2023/Animals_Details.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.Zoo_Oct_12_2023.Animals_Details"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Oct_12_2023"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Oct_12_2023"/>
</launchConfiguration>
